
:root{
    --fs-clamp-big: 5em;
    --stroke-width: 0.065em;

    --c-stroke: black;
    --c-stroke-change: hsl(284deg 100% 94%);
    --c-active: red;
}

html{
    font-family: monospace;
}


/* SONIC-CROWD-NETWORK
======================================================== */

body{
    width: 100vw;
    height: 100vh;
}

#sonic-crowd-network__svg{

    pointer-events: none;
    
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    
    background: radial-gradient(circle closest-side, var(--c-active), transparent 66%);
}

#sonic-crowd-network__svg path{
    
    fill: none;
    vector-effect: non-scaling-stroke;

    font-size: var(--fs-clamp-big);
    stroke: var(--c-stroke);
    stroke-width: var(--stroke-width);
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;

    transition: 0.25s stroke;
}

#sonic-crowd-network__svg.updating path{
    stroke: var(--c-stroke-change);
}

#sonic-crowd-network__infos{
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 0.5rem;
}